<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>
<% if current_user %>
<%= link_to 'Edit', edit_note_path(@note) %> |
<% end %>
<%= link_to 'Back', notes_path %>
